form(method='POST', id='chapterForm')
  p
    label(for="title") Title:
    input.required(value='#{chapter.title}', id='title', name='title')
  p
    label(for="description") Description:
    textarea.required(name='description', id='description') #{chapter.desc}
  p
    input.btn.btn-primary(type='submit', value='Submit')
