# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
.idea
node_modules
app/node_modules
app/upload/*
app/public/quiz/*
app/views/design/course01.html
app/views/design/course02.html
app/views/design/course03.html
app/views/design/course11.html
app/views/design/courses/details01.html
app/views/design/courses/details02.html
app/views/design/courses/details03.html
app/views/design/courses/details11.html
app/views/design/index.html
app/views/lessons/_lesson.jade
app/views/lessons/quiz_old.jade
app/views/users/email.jade
public/img/img/cta-01-over.jpg
public/img/img/cta-01.jpg
public/img/img/devices.png
public/img/img/example/android01.jpg
public/img/img/example/android02.jpg
public/img/img/example/android03.jpg
public/img/img/example/sample01.jpg
public/img/img/example/sample01bottom.jpg
public/img/img/example/sample01s.jpg
public/img/img/example/sample02.jpg
public/img/img/example/sample02bottom.jpg
public/img/img/example/sample02s.jpg
public/img/img/example/sample03.jpg
public/img/img/example/sample03bottom.jpg
public/img/img/example/sample03s.jpg
public/img/img/example/sample04.jpg
public/img/img/example/sample04s.jpg
public/img/img/example/sample05.jpg
public/img/img/example/sample05s.jpg
public/img/img/example/sample06.jpg
public/img/img/example/sample06s.jpg
public/img/img/example/sample07s.jpg
public/img/img/fb.png
public/img/img/g+.png
public/img/img/github.png
public/img/img/linkedin.png
public/img/img/logo.png
public/img/img/mail.png
public/img/img/search.jpg
public/img/img/theme/bg_control_nav.png
public/img/img/theme/bg_direction_nav.png
public/img/img/thslide_link_next.png
public/img/img/thslide_link_previous.png
public/img/img/twitter.png
public/javascripts/js/jquery-1.7.2.min.js
public/javascripts/js/jquery.accordion.js
public/javascripts/js/jquery.cycle.all.min.js
public/javascripts/js/jquery.dimensions.js
public/javascripts/js/jquery.flexslider-min.js
public/javascripts/js/jquery.flexslider.js
public/javascripts/js/jquery.sliderkit.1.9.2.pack.js
public/javascripts/js/jquery.touchwipe.1.1.1.js
public/stylesheets/css/barousel_demo.css
public/stylesheets/css/flexslider.css
public/stylesheets/css/layout.css
public/stylesheets/css/sliderkit-core.css
public/stylesheets/css/sliderkit-coureses.css
public/stylesheets/css/sliderkit-couresesNew.css