.row-fluid
	.span6
		legend #{UnitTitle}
	.span4
		ul.nav.nav-tabs(style='background-color:black;color:yellow;font-weight:bold;')
			li.active
				a(href='#overview') Overview
			li
				a(href='#coursecontent') Course Content
			li
				a(href='#discussion') Discussion
			li
				a(href='#announcements') Announcements
			li
				a(href='#progress') Progress