.navbar
	.navbar-inner
		.container(style='width: auto;')
			a.brand(href='#') 
				span(style='color:white;font-weight:bold;') 10
				span(style='color:orange;') x
				span(style='color:white;') Engineer
				span(style='color:orange;font-weight:bold;') .
				span(style='color:white;') me
				// img(src='/img/10xengineer.me.png', alt='10xEngineer.me')
			ul.nav
				li.active
					a(href='/')
						i.icon-home.icon-white 
						| Home
				li
					a(href='/courses')
						i.icon-calendar.icon-white 
						| Courses
				li.dropdown
					a.dropdown-toggle(href='/users', data-toggle='dropdown')
						i.icon-map-marker.icon-white 
						| Forums
						b.caret
					ul.dropdown-menu
						li
							a(href='#') Create New User
						li
							a(href='#') List All Users
						li.divider
						li
							a(href='#') Batch Import
				li
					a(href='/about')
						i.icon-user.icon-white 
						| Profile
				-if(loggedInUser.is_admin)
					li
						a(href='/admin')
							i.icon-user.icon-white 
							| Admin
			form.navbar-search.pull-right(action='')
				input.search-query.span3(type='text', placeholder='Search Contents')