.row-fluid
	.container(data-spy='scroll', style='background-color:black;color:white;')
		- var sections = ['UNIT', 'HOMEWORK', 'OFFICE HOURS']
		each i in [1,2,3,4,5,6,7]
			each section in sections
				p.bold(style='color:white;')
					a(href='/program') #{section} #{i}
.row-fluid(style='background-color:white;')
	a.btn.btn-primary.btn-large NEXT
