.row-fluid
	p.bold
		a(href='/program')
			| + UNIT 1
	p.bold
		| + HOMEWORK 1
	p.bold
		| + OFFICE HOURS 1
	p.bold
		| + UNIT 2
	p.bold
		| + HOMEWORK 2
	p.bold
		| + OFFICE HOURS 2
.row-fluid(style='background-color:white;')
	a.btn.btn-primary.btn-large NEXT
