.container-fluid
	.row-fluid
		.span3
		.span6
			form(onsubmit='return createSection(this)', action="#", method='POST').form-inline.well
				input.input-large(type='text', placeholder='Section Name')
				a.btn.btn-primary.btn-large(type='submit', style='margin-left: 1em;') Add a Section
				a.btn.btn-info.btn-large.pull-right(href='return createUnit(this);', style='margin-left: 1em;') Add a Unit
		.span3
	.row-fluid
		.span12
			legend Course Content
			.container#course_accordion
				.accordion-group#unit1
					.accordion-heading
						a.accordion-toggle(data-toggle='collapse', data-parent='#course_accordion', href='#sections1')
							span.badge UNIT 1
					#sections1.accordion-body.in(style='height: auto;')
						.accordion-inner
							.accordion-group#lessons1
								.accordion-heading
									a.accordion-toggle(data-toggle='collapse', data-parent='#sections1', href='#lessons1')
										span.label.label-info LESSONS 1
								#lessons1.accordion-body.in(style='height: auto;')
									.accordion-inner
										p Introduction
										p Web Crawler
										p First Quiz - 
											a(style='color:orange;', href='#') Question
										p Programming
										p What is a programming language - 
											a(style='color:orange;', href='#') Question
										p Congratulations
							.accordion-group
								.accordion-heading
									a.accordion-toggle(data-toggle='collapse', data-parent='#sections1', href='#homework1')
										span.label.label-info HOMEWORK 1
								#homework1.accordion-body.in(style='height: auto;')
									.accordion-inner
										p Search Engines And the Web - 
											a(style='color:orange;', href='#') Question
										p Python Programming 1 - 
											a(style='color:orange;', href='#') Question
										p Python Programming 2 - 
											a(style='color:orange;', href='#') Question
										p Speed of Light - 
											a(style='color:orange;', href='#') Question
										p Strings - 
											a(style='color:orange;', href='#') Question
							.accordion-group#officehours1
								.accordion-heading
									a.accordion-toggle(data-toggle='collapse', data-parent='#sections1', href='#reviews1')
										span.label.label-info OFFICE HOURS 1
								#reviews1.accordion-body.in(style='height: auto;')
									.accordion-inner
										p Welcome to Office Hours
										p Seed Pages
										p Why Python
										p Doing More
										p Great Responsibility
										p Congratulations

				.accordion-group#unit2
					.accordion-heading
						a.accordion-toggle(data-toggle='collapse', data-parent='#course_accordion', href='#sections2')
							span.badge UNIT 2
					#sections2.accordion-body.in(style='height: auto;')
						.accordion-inner
							.accordion-group#lessons2
								.accordion-heading
									a.accordion-toggle(data-toggle='collapse', data-parent='#sections2', href='#lessons2')
										span.label.label-info LESSONS 2
								#lessons2.accordion-body.in(style='height: auto;')
									.accordion-inner
										p Introduction
										p Web Crawler
										p First Quiz - 
											a(style='color:orange;', href='#') Question
										p Programming
										p What is a programming language - 
											a(style='color:orange;', href='#') Question
										p Congratulations
							.accordion-group
								.accordion-heading
									a.accordion-toggle(data-toggle='collapse', data-parent='#sections2', href='#homework2')
										span.label.label-info HOMEWORK 2
								#homework2.accordion-body.in(style='height: auto;')
									.accordion-inner
										p Search Engines And the Web - 
											a(style='color:orange;', href='#') Question
										p Python Programming 1 - 
											a(style='color:orange;', href='#') Question
										p Python Programming 2 - 
											a(style='color:orange;', href='#') Question
										p Speed of Light - 
											a(style='color:orange;', href='#') Question
										p Strings - 
											a(style='color:orange;', href='#') Question
							.accordion-group#officehours2
								.accordion-heading
									a.accordion-toggle(data-toggle='collapse', data-parent='#sections2', href='#reviews2')
										span.label.label-info OFFICE HOURS 2
								#reviews2.accordion-body.in(style='height: auto;')
									.accordion-inner
										p Welcome to Office Hours
										p Seed Pages
										p Why Python
										p Doing More
										p Great Responsibility
										p Congratulations

	.row-fluid
		p
	.row-fluid
		p

	script
		$(".collapse").collapse();
		$("div.click").click(function() {
			$(this).toggleClass('highlighted');
		});

		$(function() {
			$('.coursediv').bind('click', click);
		});

		function click() {
			var currentUnit = $("#course");
		}

		function createUnit() {
			$("course").append("");
		}

		function createSection() {
		}

		style(type='text/css')
			.highlighted { background: yellow; }

