html(lang='en')
head
	title 10xEngineer.me Course Overview
	body
		.container
			.row-fluid
				ul.thumbnails
					li.span4
						.thumbnail
							a(href='/course')
								img(src="http://placehold.it/290x200")
							h5 CS101 - DEVOPS
							p Taught by Steve Messina
							a(href='/course')
								button.btn.btn-primary.btn-large Launch
					li.span4
						.thumbnail
							a(href='/course')
								img(src="http://placehold.it/290x200")
							h5 CS101 - DEVOPS
							p Taught by Steve Messina
							a(href='/course')
								button.btn.btn-primary.btn-large Launch
					li.span4
						.thumbnail
							a(href='/course')
								img(src="http://placehold.it/290x200")
							h5 CS101 - DEVOPS
							p Taught by Steve Messina
							a(href='/course')
								button.btn.btn-primary.btn-large Launch
					li.span4
						.thumbnail
							a(href='/course')
								img(src="http://placehold.it/290x200")
							h5 CS101 - DEVOPS
							p Taught by Steve Messina
							a(href='/course')
								button.btn.btn-primary.btn-large Launch
					li.span4
						.thumbnail
							a(href='/course')
								img(src="http://placehold.it/290x200")
							h5 CS101 - DEVOPS
							p Taught by Steve Messina
							a(href='/course')
								button.btn.btn-primary.btn-large Launch
					li.span4
						.thumbnail
							a(href='/course')
								img(src="http://placehold.it/290x200")
							h5 CS101 - DEVOPS
							p Taught by Steve Messina
							a(href='/course')
								button.btn.btn-primary.btn-large Launch
					li.span4
						.thumbnail
							a(href='/course')
								img(src="http://placehold.it/290x200")
							h5 CS101 - DEVOPS
							p Taught by Steve Messina
							a(href='/course')
								button.btn.btn-primary.btn-large Launch
