- var docId = 'test';
- scripts.push("/javascripts/superagent.min.js");
- scripts.push("/javascripts/ace_2/ace.js");
- scripts.push("/javascripts/jquery.contextMenu.js");
- scripts.push("/javascripts/eventemitter2.js");
- scripts.push("/javascripts/vfs-client.js");
- scripts.push("/javascripts/filetree.js");
- scripts.push("/javascripts/editor.js");

// For Share JS
- scripts.push("/javascripts/share/bcsocket.js");
- scripts.push("/share/share.js");
- scripts.push("/share/json.js");
- scripts.push("/javascripts/share/ace.js");
- scripts.push("/javascripts/share/chat.js");

- styles.push("/stylesheets/jquery.contextMenu.css");
- styles.push("/stylesheets/views/programming/view.css")

include ../widget/tabbar

.container
  div#header
    //- TODO:: Re write header
  .row-fluid
    #sidebar.span2
      button#save(class="btn", type="button") Save
      button#compile(class="btn", type="button") Compile

      #tree

    .vsplit.span8
      mixin tabbar
      //- #tabBar
      //-   ul#tabContainer.nav.nav-tabs
      #editor(style='position:relative;width:100%;min-height:500px;display:inline-block;')
    
    #sidebar.span2(style="display: inline-block; vertical-align: top;")
      div#chat

link(rel="stylesheet", href="/stylesheets/jquery.contextMenu.css")

script(type='text/javascript')
  $(document).ready(function() {

    //dynamically load javascript source file
    function loadScriptFile(path, callback) {
      var head = document.getElementsByTagName('head')[0];
      var s = document.createElement('script');

      s.src = path;
      head.appendChild(s);

      s.onload = callback;
    }

    window.editor = new Editor({
      vfs: new VFSClient('test'),
      tree: '#tree',
      editor: '#editor',
      tab: '#tabContainer'
    });

    newCodeSocket.on('codePassed', function(data) {
      displayMessage('success', 'Congratulations, your code compiled successfully.');

    });

    newCodeSocket.on('codeFailed', function(error) {
      console.log(error);
      var error = error || 'Unknown error. Please contact support.';
      error = '<pre>' + error + '</pre>';
      displayMessage('error', error);

    });

    $('#compile').click(function() {
      var sourceCode = editor.getSession().getValue();
      var languageCode = $('#pageslide #mode').val();
      if(!languageCode){
        languageCode = $('#mode').val();
      }
      displayMessage('info', 'Compiling...');
      newCodeSocket.emit('submitcode', 'test');
    });

    sharejs.open('#{docId}', 'text', function(error, doc) {
      if (error) {
        console.error(error);
        return;
      }
      doc.attach_editor(editor);
      editor.setReadOnly(false);
    });

    $('#save').click(function() {
      editor.saveFile();
      return false;
    });
  });
  