h1 Roles

p
	a(href="/admin/role/create") Add Role

p
	ul
		each role in roles
			li
				div(style="display:inline;")
					a(href="/admin/role/#{role.name}/edit") #{role.name}
				div(style="display:inline; float: right;")
					a(href="/admin/role/#{role.name}/remove") Remove
				-log.info(role);
p
		a(href="/admin") Back to admin Panel.
