.container
  h1 Roles

  p
    .admin_view_header
      a.btn(href="/admin/role/create") 
        i.icon-plus 
        |  Add Role
  p
    ul.admin_view_list_items
      each role in roles
        li
          div.listItemComponent
            label #{role.name}
          div.listItemComponent.pull-right
            a.btn.btn-danger(href="/admin/role/#{role.id}/remove") Remove
          div.listItemComponent.pull-right
            a.btn((href="/admin/role/#{role.id}/edit") Edit
  p
    .admin_view_footer
      a.btn(href="/admin") Back to admin Panel.
