extends ../layout

block layout.body
  .container
    h1 Roles

    p
      .admin_view_header
        a.btn(href="/admin/role/create") 
          i.icon-plus 
          |  Add Role
    p
      ul.admin_view_list_items
        each role in roles
          li
            div.listItemComponent
              label #{role.name}
            div.listItemComponent.pull-right
              a.confirmDeletion.btn.btn-danger(remove-path="/admin/role/#{role.id}/remove", data-toggle="modal", data-target="#myModal", confirm-msg="Are you sure you want to remove '#{role.name}' role?") Remove
            div.listItemComponent.pull-right
              a.btn((href="/admin/role/#{role.id}/edit") Edit
    p
      .admin_view_footer
        a.btn(href="/admin") Back to admin Panel.
    
  script(type="text/javascript")
    function init() {

      // code for confirm box - modal
      var myData;
      createModal();
      console.log($('#myModal'));
      $('#myModal').on('show', function(e){
        var data = bridge(false);
        setModalData(data);
      });
      var bridge = function(bool, data) {
        if(bool){
          myData = data;
        } else {
          return myData;
        }
      }
      $('.confirmDeletion').click(function(e){
        var self = $(this);
        var tmpData = {
          path: self.attr('remove-path'),
          body: self.attr('confirm-msg')
        }
        bridge(true, tmpData);
      });      
    }