h1 Import Course

form(method="post", enctype='multipart/form-data')
	p
	p
		input#course.input-large(name='course-file', type='file', placeholder='Course File')
	
	p
		input.btn.btn-primary.btn-large(type='submit') Upload course
