.breadcrumb
  position relative
  margin 0
  padding 30px 0 10px 10px
  background #272727
  overflow hidden
  border-bottom 1px solid #222
  li
    list-style-type none
    a
    span.divider
      color #eee
      margin 0
      padding 5px
      float left
      display block
    span.divider
      color #aaa
  li:last-child
    span.divider
      display none