html{height:100%}
body{background-color:whiteSmoke;height:100%}
footer{margin-top:30px}
img.repsonsive{max-width:100%}
@media (max-width: 767px){p{font-size:.9em}
.hero-unit{padding:20px}
}@media (min-width: 768px) and (max-width:979px){p{font-size:1em}
}@media (min-width: 1200px){p{font-size:1em}
}#footer{background-color:#000;color:#fff;padding:10px 0;position:absolute;bottom:0;z-index:10}
#content{background-color:#f5f5f5;padding-top:46px;padding-bottom:52px;overflow:scroll}
.main-page .page-header{width:100%}
.main-page .header-photo{max-width:100%}
.main-page .page-header h1{width:90%}
.auth-page .auth-service{list-style:none;width:180px;margin:0 auto}
.auth-page .auth-service li{margin-bottom:.5em}
.auth-page .auth-service li .btn{display:block}
li.fb .btn{background:#3b5998;background:-moz-linear-gradient(top,#3b5998 0%,#3b5998 50%,#325190 50%,#325190 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#3b5998),color-stop(50%,#3b5998),color-stop(50%,#325190),color-stop(100%,#325190));background:-webkit-linear-gradient(top,#3b5998 0%,#3b5998 50%,#325190 50%,#325190 100%);background:-o-linear-gradient(top,#3b5998 0%,#3b5998 50%,#325190 50%,#325190 100%);background:-ms-linear-gradient(top,#3b5998 0%,#3b5998 50%,#325190 50%,#325190 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #3b5998), color-stop(0.5, #3b5998), color-stop(0.5, #325190), color-stop(1, #325190));background:-webkit-linear-gradient(top, #3b5998 0%, #3b5998 50%, #325190 50%, #325190 100%);background:-moz-linear-gradient(top, #3b5998 0%, #3b5998 50%, #325190 50%, #325190 100%);background:-o-linear-gradient(top, #3b5998 0%, #3b5998 50%, #325190 50%, #325190 100%);background:-ms-linear-gradient(top, #3b5998 0%, #3b5998 50%, #325190 50%, #325190 100%);background:linear-gradient(top, #3b5998 0%, #3b5998 50%, #325190 50%, #325190 100%)}
ul.carousel-inner,ul.carousel-inner li.item{margin:0}
.carousel-inner li{color:#fff}
.page-header{border-bottom:1px solid #ccc}
.well{background-color:#fff;-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3);-moz-box-shadow:0 1px 1px rgba(0,0,0,0.3);-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3);box-shadow:0 1px 1px rgba(0,0,0,0.3);-webkit-border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px}
.sidebar.well{padding:8px 0}
.sidebar .nav .nav-header{color:#333}
.nav-tabs.nav-stacked > li > a{background-color:#fff}
.nav-tabs{margin-bottom:0}
.tab-content{border:1px solid #ddd;border-top:none}
.tab-pane{background-color:#fff;padding:18px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3);-moz-box-shadow:0 1px 1px rgba(0,0,0,0.3);-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3);box-shadow:0 1px 1px rgba(0,0,0,0.3)}
.nav-tabs > .active > a{pointer-events:none;}
#pageslide{background:#fff url("../img/snow.png");-webkit-box-shadow:inset 0 0 28px 2px rgba(0,0,0,0.4);-moz-shadow:inset 0 0 28px 2px rgba(0,0,0,0.4);-webkit-box-shadow:inset 0 0 28px 2px rgba(0,0,0,0.4);box-shadow:inset 0 0 28px 2px rgba(0,0,0,0.4)}
.action-bar{margin-bottom:6px}
div.course-header,div.chapter-header{margin-bottom:220px}
div.course-header .course-img,div.course-header .course-content,div.chapter-header .chapter-content{display:inline-block;float:left}
div.course-header .course-img img{width:auto;height:200px}
div.course-header .course-content,div.chapter-header .chapter-content{width:75%;margin:0 0 0 20px}
div.course-header .course-content .btn-strip .btn,div.chapter-header .chapter-content .btn-strip .btn{margin-right:10px}
ul.chapters li,ul.lessons li{margin:5px 0;background:#fff;padding:10px;border:solid 1px #eee;-webkit-border-radius:10px 10px;border-radius:10px 10px;list-style:none;margin-left:0;margin-bottom:18px}
ul.chapters li a,ul.chapters li a h3,ul.lessons li a,ul.lessons li a h3{display:inline}
.lesson .lessonBar{margin:5px}
.lesson .lessonBar .btn{width:50px}
.img{-webkit-filter:grayscale(1);}
.chapter:first-child .moveBox a:first-child,.lesson:first-child .moveBox a:first-child{display:none}
.chapter:last-child .moveBox a:last-child,.lesson:last-child .moveBox a:last-child{display:none}
.chapter:first-child .moveBox a:last-child,.lesson:first-child .moveBox a:last-child{top:25px}
.chapter:hover .moveBox,.lesson:hover .moveBox{display:block}
.moveBox{display:block;float:left;width:15px;height:25px;position:relative;left:-30px;top:-10px}
ul.chapters li .moveBox a,ul.lessons li .moveBox a{display:block}
.downArrow{position:relative;top:8px}
div.chapterPerogressbox{margin:5px 0;background:#fff;border:solid 1px #eee;-webkit-border-radius:10px 10px;border-radius:10px 10px;list-style:none;margin-left:0;margin-bottom:18px}
.chapterPerogressbox .courseName{margin:20px;display:inline-block}
.courseProgress{overflow:hidden;height:18px;width:250px;display:inline-block;background-color:#f7f7f7;background-image:-moz-linear-gradient(top,#f5f5f5,#f9f9f9);background-image:-ms-linear-gradient(top,#f5f5f5,#f9f9f9);background-image:-webkit-gradient(linear,0 0,0 100%,from(#f5f5f5),to(#f9f9f9));background-image:-webkit-linear-gradient(top,#f5f5f5,#f9f9f9);background-image:-o-linear-gradient(top,#f5f5f5,#f9f9f9);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), color-stop(1, #f9f9f9));background-image:-webkit-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%);background-image:-moz-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%);background-image:-o-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%);background-image:-ms-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%);background-image:linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%);background-repeat:repeat-x;-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);-webkit-border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:30px 20px}
.courseProgress .bar{width:0%;height:18px;color:#fff;font-size:12px;text-align:center;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#0e90d2;background-image:-moz-linear-gradient(top,#149bdf,#0480be);background-image:-ms-linear-gradient(top,#149bdf,#0480be);background-image:-webkit-gradient(linear,0 0,0 100%,from(#149bdf),to(#0480be));background-image:-webkit-linear-gradient(top,#149bdf,#0480be);background-image:-o-linear-gradient(top,#149bdf,#0480be);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #149bdf), color-stop(1, #0480be));background-image:-webkit-linear-gradient(top, #149bdf 0%, #0480be 100%);background-image:-moz-linear-gradient(top, #149bdf 0%, #0480be 100%);background-image:-o-linear-gradient(top, #149bdf 0%, #0480be 100%);background-image:-ms-linear-gradient(top, #149bdf 0%, #0480be 100%);background-image:linear-gradient(top, #149bdf 0%, #0480be 100%);background-repeat:repeat-x;-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.15);-moz-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.15);-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.15);box-shadow:inset 0 -1px 0 rgba(0,0,0,0.15);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-transition:width .6s ease;-moz-transition:width .6s ease;-ms-transition:width .6s ease;-o-transition:width .6s ease;-webkit-transition:width .6s ease;-moz-transition:width .6s ease;-o-transition:width .6s ease;-ms-transition:width .6s ease;transition:width .6s ease}
.chapterContinue{width:115px;margin:20px}
.questionBox{margin:5px 0;background:#fff;padding:10px;border:solid 1px #eee;-webkit-border-radius:10px 10px;border-radius:10px 10px;margin-left:0;margin-bottom:18px}
.question{margin:8px 0}
.questionAnswer input{padding-left:10px}
.correct{color:#008000}
.wrong{color:#f00}
ul.admin_view_list_items li{margin:5px 0;background:#fff;padding:20px;border:solid 1px #eee;-webkit-border-radius:10px 10px;border-radius:10px 10px;list-style:none;margin-left:0;margin-bottom:18px}
ul.admin_view_list_items{margin:0}
ul.admin_view_list_items li label{font-size:17px}
.admin_view_header,.admin_view_footer{padding-top:20px;padding-bottom:10px}
.admin_view_header .btn{margin-right:5px}
ul.course_list li{margin:5px 0;background:#fff;padding:20px;border:solid 1px #eee;-webkit-border-radius:10px 10px;border-radius:10px 10px;list-style:none;margin-left:0;margin-bottom:18px;width:80%}
ul.course_list li label{display:inline}
div.course_editor_header{margin:5px 0;margin-left:30px;margin-bottom:18px;width:80%}
.optionDiv{display:block;background-color:#d9edf7;margin:3px 3px;padding:3px 5px}
.closeOptBtn{margin-left:5px}
#selectedOptContainer{min-height:20px;width:210px;border:1px solid;padding:3px 5px}
.registerBox{border:1px solid #999;padding:20px 20px 0 20px;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px}
.emailLabel{text-align:center;margin:20px}
.center{text-align:center}
.regBtn{margin:20px 0 0}
.courseTitle{margin-bottom:10px}
.courseImage{margin-bottom:25px}
.courseBtn{font-size:25px;height:68px}
.courseBtnText{float:left;margin-top:10px;margin-left:5px}
.forumBtn{font-size:25px;width:150px;height:68px}
.forumBtnText{float:left;margin-top:10px;margin-left:5px}
.align-center{text-align:center}
.align-right{text-align:right}
.align-left{text-align:left}
#footer .container .span6{width:230px;}
#footer .container .span6 img{padding-right:5px}
#footer .container .span6 p{padding-top:5px;padding-left:5px}
#footer .container .span6.socialmedia{float:right}
.span12 .span4{padding-bottom:5px}
.courseMenuNav{background-color:#3db4ff;float:left;padding-bottom:5px;padding-top:5px;position:relative;text-align:center;width:100%;color:#fff;font-weight:bold;font-size:17px;margin-bottom:5px}
.courseMenu .active{background-color:#22a3ff;color:#333}
.courseMenuNav:hover{background-color:#22a3ff}
.flexslider .row-fluid .btn-group{float:right;padding-top:5px}
.carouselWrapper{padding-bottom:5px}
.line{padding-top:10px;border-top:1px solid #000}
.carouselWrapper .carousel-inner .item img{margin:10px}
.carouselButton{line-height:200px;vertical-align:middle}
.detailsBorder{margin-bottom:20px;border:2px solid #eee;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;padding:5px}
.courseDetailsWrapper{padding-top:10px}
.detailsBorder h2,.courseDetailsWrapper p{padding:10px}
.lessonList{list-style:none}
.reviewHeader{border-bottom:1px solid #000;margin-bottom:5px;font-weight:bold;font-size:20px}
.reviewHeader{background-color:none}
.row-fluid .reviewBox{background-color:#e8e8e8;border:1px solid #000;margin-bottom:5px}
#carsouselItems .selectedItem img{border:5px solid #3db4ff;height:170px;width:230px}
#carsouselItems img:hover{border:5px solid #3db4ff;height:170px;width:230px}
.courseDetailsWrapper .row-fluid h1{font-size:18px;margin:0;padding:0}
.courseDetailsWrapper .row-fluid p{font-size:12px;margin:0;padding:0 5px}
.backBtn{float:right;padding:15px}
#detailsAccordion .accordion-group li,ul.auth-service{list-style:none;margin:0;padding:0}
#detailsAccordion .accordion-group .accordion-body .accordion-inner ul{padding:0;margin:0}
#detailsAccordion .accordion-group .accordion-body .accordion-inner li{padding-top:5px}
#detailsAccordion .accordion-group .accordion-body .accordion-inner a{padding-left:30px}
.videoIcon,.quizIcon,.programmingIcon,.sysAdminIcon{background-repeat:no-repeat;background-position:left top;height:25px;width:25px}
.videoIcon{background-image:url("../img/video.png")}
.quizIcon{background-image:url("../img/quiz.png")}
.programmingIcon{background-image:url("../img/programming.png")}
.sysAdminIcon{background-image:url("../img/admin.png")}
.auth-service .btn{width:240px}
.auth-service span{float:left;padding:5px 0 0 5px;font-size:20px;font-weight:bold}
.googlIcon,.twIcon,.fbIcon{background-repeat:no-repeat;background-position:left top;height:32px;width:32px;float:left}
.googlIcon{background-image:url("../img/googleIcon.png")}
.twIcon{background-image:url("../img/twitterIcon.png")}
.fbIcon{background-image:url("../img/facebookIcon.png")}
li.googl,li.tw{padding-bottom:10px}
.loginWrapper .loginBox{text-align:center;padding:50px 0;min-width:370px}
.loginArea{background-color:#d3d3d3;padding:50px 20px}
.loginArea h1{padding-bottom:10px}
ul.auth-service{padding:0}
.videoIcon,.quizIcon,.programmingIcon,.sysAdminIcon,.not-started,.ongoing,.completed{display:inline-block}
#detailsAccordion .accordion-group .accordion-body .accordion-inner a{padding-left:10px}
a{outline:none;border:none}
a:active,a:hover,a:focus,a:selected,a:visited{outline:none;border:none}
.detailsBorder h2,.courseDetailsWrapper p{padding:5px}
.loginArea h1{padding-bottom:10px}
.progress{margin:0 15px 10px 15px}
.progressTotal{margin:0 20px 10px}
.progressBar{margin:10px}
.detailImage img{padding-top:25px}
.not-started,.ongoing,.completed{background-repeat:no-repeat;background-position:left top;height:25px;width:25px}
.not-started{background-position:center;background-image:url("../img/not-started.png");height:25px}
.ongoing{background-position:center;background-image:url("../img/ongoing.png");height:25px}
.completed{background-position:center;background-image:url("../img/finished.png");height:25px}
.lessonTitle{height:25px;margin:-20px 0 0 25px}
.admin_view_list_items li label,.admin_view_list_items li a,.admin_view_list_items li p,.admin_view_list_items .listItemComponent{display:inline}
.admin_view_list_items li p,.roles a{margin-right:5px}
#createRoleForm #name{width:200px}
#createRoleForm #permissionTable{width:50%}
.listItemComponent > a{margin-right:5px}
.labsHeader a{margin-bottom:5px}
.labsTable a{margin-right:5px}
#selRole{display:none}
#permission{width:210px}
#permission div{display:none}
#permission div ul{width:220px}
ul.course_list a.btn.pull-right{margin-right:5px}
ul.lessons li.lesson a.pull-right{margin-right:5px}
ul.chapters li.chapter a.pull-right{margin-right:5px}
#addServerBtn{margin:5px 0}
.span12.center.SignUpBtnContainer{margin:30px 0 15px 0;}
.span12.center.SignUpBtnContainer .SignUpBtn{-webkit-border-radius:30px;border-radius:30px;}
.span12.center.SignUpBtnContainer .SignUpBtn h2{margin:auto 15px}
form p .chapterPerogressbox{min-height:75px}
.mainPageBtnContainer{display:inline-block;}
.mainPageBtnContainer > div{display:inline-block;width:200px;margin:5px auto}
.mainPageBtn{margin:10px;}
.mainPageBtn > div{float:left}
.mainPageFooter{background-color:#333;color:#fff;}
.mainPageFooter .container{padding:20px}
ul.questionList > li,ul.quizList > li{margin:5px 0;background:#fff;padding:20px;border:solid 1px #eee;-webkit-border-radius:10px 10px;border-radius:10px 10px;list-style:none;margin-left:0;margin-bottom:18px;}
ul.questionList > li label,ul.quizList > li label{font-size:17px}
ul.questionList > li .innerDiv label,ul.quizList > li .innerDiv label{display:inline-block;}
ul.questionList > li .innerDiv label:hover,ul.quizList > li .innerDiv label:hover{cursor:pointer}
ul.questionList > li .innerDiv a:hover,ul.quizList > li .innerDiv a:hover{cursor:pointer}
ul.questionList > li .innerDiv .actionBtns a,ul.quizList > li .innerDiv .actionBtns a{margin-right:5px}
div.questionBlock{margin:5px 0;background:#fff;padding:20px;border:solid 1px #eee;-webkit-border-radius:10px 10px;border-radius:10px 10px;list-style:none;margin-left:0;margin-bottom:18px}
#messages{height:350px;overflow-y:scroll}
.vsplit .lessonBar .btn{margin:15px auto}
#compile{margin-left:5px}
.stretch-to-fit{position:absolute;top:0;bottom:0;left:0;right:0}
