#content
  padding-top 0
  margin-top 20px
  margin-bottom 55px
  // .stretch-to-fit
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  // /.stretch-to-fit

#footer
  position fixed
  width 100%