#gallery {
	position:relative;
}
#gallery div.item {
	left: -10000px;
	text-decoration : none;
	display: none;
}

#gallery div.item img {
	border:none;
}

#gallery div.item.show {
	left: 0px;
	display: block;
}