.container-fluid
	.row-fluid
		.span9
			.hero-unit
				.page-header
					h1 
						span(style='color:black;font-weight:bold;') 10
						span(style='color:orange;') x
						span(style='color:black;') Engineer
						span(style='color:orange;font-weight:bold;') .
						span(style='color:black;') me 
					p The school for the next generation of elite engineers.
					p
					p
						a(href='/auth/google') Login with Google
					p
						a(href='/auth/twitter') Login with Twitter
					p
						a(href='/auth/fb') Login with Facebook
