h1 We require some more information about you
br
form(method='POST', action='') 
  p 
    h5 Email :
    input.required(id='email', name='email')  
  br
  input(type='submit' ,name='submit',value='Finish')
  