extends ../layout

block layout.body
  .container
    .span12
      header.page-header
        h1 Reset Password

      .well
        form.form-horizontal(method='POST')
          p
            label Password:
            input(type="password", name="password")
          p
            label Confirm Password:
            input(type="password", name="confirmPassword")

          p
            input.btn-large.btn-primary.regBtn(type='submit', name='submit', value='Reset')
