.lessons_programming
  height 100%
  width 100%
  position relative
  >.row-fluid
    position absolute
    top 0px
    bottom 52px
  .vsplit
    position relative
    overflow hidden
    height 100%
    >.editor-container
      position absolute
      width 100%
      top 28px
      bottom 58px
      overflow scroll
    >.lessonBar
      position absolute
      bottom 0px
  ._breadcrumb
    position absolute
    bottom 0px

  ul.fileTree {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    line-height: 18px;
    padding: 0px;
    margin: 0px;
  }

  ul.fileTree li {
    list-style: none;
    padding: 0px;
    padding-left: 20px;
    margin: 0px;
    white-space: nowrap;
  }

  ul.fileTree a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 0px 2px;
  }

  ul.fileTree a:hover,
  ul.fileTree a.selected {
    background: #BDF;
  }

  /* Core Styles */
  .fileTree li.directory { background: url(/img/fileTree/directory.png) left top no-repeat; }
  .fileTree li.expanded { background: url(/img/fileTree/folder_open.png) left top no-repeat; }
  .fileTree li.file { background: url(/img/fileTree/file.png) left top no-repeat; }
  .fileTree li.wait { background: url(/img/fileTree/spinner.gif) left top no-repeat; }

  #tabContainer > li > a > i.closeTab {
    display : none;
    z-index: 50;
  }
  #tabContainer > li.active > a {
    pointer-events: inherit;
  }
  #tabContainer > li.active > a > i.closeTab:hover {
    cursor: pointer;
  } 
  #tabContainer > li.active > a > i.closeTab {
    display : inline-block;
  }