extends ../layout

include ../widget/tabbar
include ../widget/sidebar

append layout.scripts

  // For Share JS
  // script(type='text/javascript', src="/javascripts/share/bcsocket.js")
  // script(type='text/javascript', src="/share/share.js")
  // script(type='text/javascript', src="/share/json.js")
  // script(type='text/javascript', src="/javascripts/share/ace.js")
  // script(type='text/javascript', src="/javascripts/share/chat.js")
  
append layout.styles
  link(rel='stylesheet', href="/stylesheets/jquery.contextMenu.css")
  link(rel='stylesheet', href="/stylesheets/views/lessons/programming.css")
  // included
  link(rel='stylesheet', href="/stylesheets/views/widget/tabbar.css")
  link(rel='stylesheet', href="/stylesheets/views/widget/sidebar.css")
  link(rel='stylesheet', href="/stylesheets/breadcrumb.css")

block layout.body
  include ../_breadcrumb
  .programming_view.container

    div#header
      //- TODO:: Re write header
    .row-fluid
      +sidebar-left("collapsible resizable")
        .buttons-bar
            button#save(title="Save",class="image-button save-button", type="button") Save
            button#compile(title="Compile",class="image-button compile-button", type="button") Compile
            button#newfile(title="New File",class="image-button newfile-button", type="button") New File
            button#newfolder(title="New Folder",class="image-button newfolder-button", type="button") New Folder

        #tree
    
      +sidebar-right("collapsible resizable")
        .buttons-bar
        div#chat

      .vsplit
        mixin tabbar
        //- #tabBar
        //-   ul#tabContainer.nav.nav-tabs
        #editor(style='position:relative;width:100%;min-height:100%;height:100%;display:inline-block;')
        input#docId(type="hidden", value="#{progressId}")
        .lessonBar
          a.btn.pull-left(href='/lesson/#{lesson.id}/previous/') Previous
          a.btn.pull-right.btn-success(href="/lesson/#{lesson.id}/next/") Next

  script(type="text/javascript")
    function init() {
      require(['views/lessons/programming'],
        function() {
        console.log('All OK');
      });
    }
