.container
  //- @@TODO: Tabs is okay but need other content
  //- require pageslide ace2

  include ../_breadcrumb

- var docId = 'test';
style
  ul.fileTree {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    line-height: 18px;
    padding: 0px;
    margin: 0px;
  }

  ul.fileTree li {
    list-style: none;
    padding: 0px;
    padding-left: 20px;
    margin: 0px;
    white-space: nowrap;
  }

  ul.fileTree a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 0px 2px;
  }

  ul.fileTree a:hover,
  ul.fileTree a.selected {
    background: #BDF;
  }

  /* Core Styles */
  .fileTree li.directory { background: url(/img/fileTree/directory.png) left top no-repeat; }
  .fileTree li.expanded { background: url(/img/fileTree/folder_open.png) left top no-repeat; }
  .fileTree li.file { background: url(/img/fileTree/file.png) left top no-repeat; }
  .fileTree li.wait { background: url(/img/fileTree/spinner.gif) left top no-repeat; }

  #tabContainer > li > a > i.closeTab {
    display : none;
    z-index: 50;
  }
  #tabContainer > li.active > a {
    pointer-events: inherit;
  }
  #tabContainer > li.active > a > i.closeTab:hover {
    cursor: pointer;
  } 
  #tabContainer > li.active > a > i.closeTab {
    display : inline-block;
  } 

.container
  div#header
    //- TODO:: Re write header
  .row-fluid
    #sidebar.span2
      button#save(class="btn", type="button") Save
      button#compile(class="btn", type="button") Compile

      #tree

    .vsplit.span8
      #tabBar
        ul#tabContainer.nav.nav-tabs
      #editor(style='position:relative;width:100%;min-height:500px;display:inline-block;')
    
    #sidebar.span2(style="display: inline-block; vertical-align: top;")
      div#chat
        h3 Chat
        div#messages
        input#message
  .lessonBar.row-fluid
    a.btn.pull-left(href='/lesson/#{lesson.id}/previous/') Previous
    a.btn.pull-right.btn-success(href="/lesson/#{lesson.id}/next/") Next 


  link(rel="stylesheet", href="/stylesheets/jquery.contextMenu.css")
  script(src="/javascripts/superagent.min.js")
  script(src="/javascripts/ace_2/ace.js")
  script(src="/javascripts/jquery.contextMenu.js")
  script(src="/javascripts/vfs-client.js")
  script(src="/javascripts/eventemitter2.js")
  script(src="/javascripts/filetree.js")
  script(src="/javascripts/editor.js")
  
  // For Share JS
  script(src="/javascripts/share/bcsocket.js")
  script(src="/share/share.js")
  script(src="/share/json.js")
  script(src="/javascripts/share/ace.js")
  script(src="/javascripts/share/chat.js")
  
  script
    var editor = ace.edit("editor");

  script(src="/javascripts/test.js");
  
  
  script(type='text/javascript')