extends ../layout

include ../widget/terminal

append layout.scripts
  script(type='text/javascript', src="/javascripts/views/lessons/sysadmin.js")

block layout.body
  .container
    include ../_breadcrumb

    div#header
      //- TODO:: Re write header
    .row-fluid
      .vsplit
        input#progressId(type="hidden", value="#{progressId}")
        input#lessonId(type="hidden", value="#{lesson._id}")
        mixin terminal
          span(style="color:white;font-size:2em;") Terminal Placeholder
        .lessonBar.row-fluid
          a.btn.pull-left(href='/lesson/#{lesson.id}/previous/') Previous
          a.btn.pull-right.btn-success(href="/lesson/#{lesson.id}/next/") Next
