extends ../layout

include ../widget/terminal

append layout.scripts
  script(type='text/javascript', src="/javascripts/views/lessons/sysadmin.js")
  //included
  script(type='text/javascript', src="/javascripts/ttyjs/term.js");
  script(type='text/javascript', src="/javascripts/ttyjs/tty.js");
  script(type='text/javascript', src="/javascripts/ttyjs/terminal.js");

append layout.styles
  // included
  link(rel='stylesheet', href="/stylesheets/views/widget/terminal.css")

block layout.body
  .container
    include ../_breadcrumb

    div#header
      //- TODO:: Re write header
    .row-fluid
      .vsplit
        input#progressId(type="hidden", value="#{progressId}")
        input#lessonId(type="hidden", value="#{lesson._id}")
        mixin terminal
    .lessonBar.row-fluid
      a.btn.pull-left(href='/lesson/#{lesson.id}/previous/') Previous
      a.btn.pull-right.btn-success(href="/lesson/#{lesson.id}/next/") Next
