extends ../layout

include ../widget/tabbar
include ../widget/sidebar

append layout.scripts
  script(type='text/javascript', src="/javascripts/views/lessons/sysadmin.js")

append layout.styles
  link(rel='stylesheet', href="/stylesheets/views/lessons/sysadmin.css")

block layout.body
  .container
    include ../_breadcrumb

    div#header
      //- TODO:: Re write header
    .row-fluid
      .vsplit
        input#progressId(type="hidden", value="#{progressId}")
        #terminal(style='position:relative;width:100%;min-height:500px;display:inline-block;background-color:#333333;text-align:center;padding-top:100px;')
          span(style="color:white;font-size:2em;") Terminal Placeholder
        .lessonBar.row-fluid
          a.btn.pull-left(href='/lesson/#{lesson.id}/previous/') Previous
          a.btn.pull-right.btn-success(href="/lesson/#{lesson.id}/next/") Next
