include _header
.container-fluid.course-index.inner-index
  .row-fluid
    .span10
      - if(typeof(lesson.video.content) != 'undefined' && typeof(lesson.video.type) != 'undefined' && lesson.video.type == 'youtube')
        include _youTubePlayer

      - else if(typeof(lesson.video.content) != 'undefined' && typeof(lesson.video.type) != 'undefined' && lesson.video.type == 'upload')
        include _player

      - else
        p Unsupported Video Type.
      
      a.btn(href='/lesson/#{lesson.id}/previous/') Previous
      a.btn.btn-success(href="/lesson/#{lesson.id}/next/") Next
 
    .span2
      include _sidebar
  .row-fluid
    p
  .row-fluid
    .span10
      include _footer
