form(method='POST', id='lessonForm', enctype='multipart/form-data')
  p
    label(for="title") Title:
    input.required(value='#{lesson.title}', id='title', name='title')
  p
    label(for="description") Description:
    textarea.required(name='description', id='description') #{lesson.desc}
  - if(!edit)

    input#lessonType(name='type', type='hidden', value='video')
    ul#myTab.nav.nav-tabs
      li.active
        a(href='#video', data-toggle='tab') Video
      li
        a(href='#quiz', data-toggle='tab') Quiz
      li
        a(href='#programming', data-toggle='tab') Programming
      li
        a(href='#sysAdmin', data-toggle='tab') SysAdmin

    .tab-content
      #video.tab-pane.active
        input#videoContent(name='videoContent' ,type='hidden')
        input#type(name='videoType' ,type='hidden')
        h3 Upload Video
        
        select#videoType 
          option(value='Upload') Upload
          option(value='Youtube') Youtube

        div#upload
          p Upload Video File :
          input#video.input-large(name='videofile', type='file', placeholder='Video File')
        div#youtube    
          p Youtube URL :
          input#videoLink.input-large(name='videofile', type='text', placeholder='Video File')
          input#showYoutubePreview(type="button", value="Preview")
        div#videoPreview  
        
      #quiz.tab-pane
        h3 Quiz
        br
        div#questionBox

      #programming.tab-pane
        h3 Programming
        select#language(name='language')
          option(value="javascript", selected="selected") JavaScript
          //- option(value="xml") XML
          //- option(value="html") HTML
          //- option(value="css") CSS
          //- option(value="scss") SCSS
          //- option(value="python") Python
          //- option(value="php") PHP
          //- option(value="java") Java
          //- option(value="ruby") Ruby
          //- option(value="c_cpp") C/C++
          //- option(value="coffee") CoffeeScript
          //- option(value="json") JSON
          //- option(value="perl") Perl
          //- option(value="clojure") Clojure
          //- option(value="ocaml") OCaml
          //- option(value="csharp") C#
          //- option(value="svg") SVG
          //- option(value="textile") Textile
          //- option(value="groovy") Groovy
          //- option(value="scala") Scala
        p Code :
        textarea#code(name='code')
        p Enter Input :
        textarea#input(name='input')
        p Enter Output :
        textarea#output(name='output')
        
      #sysAdmin.tab-pane
        h3 SysAdmin
        //- select.serverName#serverName(name='serverName', multiple='multiple')
        select.serverName#serverName(name='serverName', multiple='multiple', style='display:none')
        select#vmName(name='vmNames', multiple='multiple', style='display:none')
        select#vmHostName(name='vmHostNames', multiple='multiple', style='display:none')

        #selectedOptContainer

        != partial('sysAdminForm')
        
  - else
    input#lessonType(name='type', type='hidden', value='#{lesson.type}')
    != partial('editLesson')
  br
  p
    input.btn.btn-primary#formSubmit(type='submit', value='Submit')

  - if(edit && typeof(lesson.programming) != 'undefined')
    script(type='text/javascript')
    
      // This should be only executed inside edit
      $('#editLanguage').val('#{lesson.programming.language}');

script(type='text/javascript')
  
  $(document).ready(function() {

    //----------------------------------------------------- //
    //  On Form Submit                                      //
    //----------------------------------------------------- //
    
    $('#formSubmit').click(function(){
      $('#serverName option').each(function() {
        $(this).attr('selected', 'selected');
      });
      $('#vmName option').each(function() {
        $(this).attr('selected', 'selected');
      });
      $('#vmHostName option').each(function() {
        $(this).attr('selected', 'selected');
      });
    });


    //----------------------------------------------------- //
    //  Select Upload / Youtube Video                       //
    //----------------------------------------------------- //

    $('.tabs a:last').tab('show');

    // For Choose Upload or Youtube
    if($('#videoType').val()=="Upload") {
        $('#youtube').hide();
        $('#upload').show();
        $('#type').val('upload');
    }
    $('#videoType').change(function(){
      if($('#videoType').val()=="Upload"){
        $('#youtube').hide();
        $('#upload').show();
        $('#type').val('upload');
      }
      if($('#videoType').val()=="Youtube"){
        $('#youtube').show();
        $('#upload').hide();
        $('#type').val('youtube');
      }
    });

    //----------------------------------------------------- //
    //  For Preview of Youtube Video on Video Tabe          //
    //----------------------------------------------------- //

    $('#showYoutubePreview').click(function() {
      $('#videoPreview').html('');
      var url = getYoutubeID($('#videoLink').val());
      
      $('<iframe/>',{
        width: 300,
        height: 300,
        src: url,
        frameborder: 0,
        allowfullscreen: true
      }).appendTo('#videoPreview'); 
    });

    function getYoutubeID(url) {
      // For Youtube  Video Verification
      var youtubePttn = new RegExp("http:\\/\\/youtu.be\\/(\\w+)");
      if(youtubePttn.test(url)) {
        var youtubeParse = youtubePttn.exec(url);
        var url = "http://www.youtube.com/embed/"+youtubeParse[1];
        $('#videoContent').val(youtubeParse[1]);
        return url;
      }

      // For Facebook Video Verification
      var facebookPttn = new RegExp("https:\\/\\/www.facebook.com\\/sharer\\/sharer.php\\?u=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D(\\w+)");
      if(facebookPttn.test(url)) {
        var youtubeParse = facebookPttn.exec(url);
        var url = "http://www.youtube.com/embed/"+youtubeParse[1];
        $('#videoContent').val(youtubeParse[1]);
        return url;
      } 
    }

    //----------------------------------------------------- //
    //  For : Set Lesson Type variable on Tab Click         //
    //----------------------------------------------------- //

    $('#myTab a').click(function (e) {
      
      var str = e.target;
      var element = str.toString().split("#"); 
      var index = element[1].toString();

      if(index == 'video') {
        
        $('#code').val('');
        $('#input').val('');
        $('#output').val('');
        $('#lessonType').val('video');
      
      } else if(index == 'programming') {

        $('#video').val('');
        $('#videoLink').val('');
        $('#lessonType').val('programming');
      
      } else if(index == 'quiz') {

        $('#code').val('');
        $('#input').val('');
        $('#output').val('');
        $('#video').val('');
        $('#videoLink').val(''); 
        $('#lessonType').val('quiz');
        addQuiz();

      } else if(index == 'sysAdmin') {

        $('#code').val('');
        $('#input').val('');
        $('#output').val('');
        $('#video').val('');
        $('#videoLink').val(''); 
        $('#lessonType').val('sysAdmin');

      }
    });

    //-------------------------------------------------------//
    //  For  Quiz : Add & Remove Question and their Options  //
    //-------------------------------------------------------//

    var queDiv='<div class="addedQuestion"><p>Question:</p><input type="text" class="question"><br><div class="options"><p>Options</p><div class="addedOption"><input type="checkBox" class="questionOptionCheckbox"><input type="text" class="questionOption"></div></div></div>';
    var optDiv='<div class="addedOption"><input type="checkBox" class="questionOptionCheckbox"><input type="text" class="questionOption"></div>';

    var addQuiz = function() {
      $(queDiv).appendTo('#questionBox'); 
    };

    $(".question").live("keyup",function() {
      if($(".question:last").val()!="") {
        $("#questionBox").append(queDiv);
        assignNamesForQuiz($('#questionBox'));
      }
    });

    $(".questionOption").live("keyup",function() {    
      var parQueDiv=$(this).parents("div").eq(1);
      if(parQueDiv.find(".questionOption:last").val()!="") {
        parQueDiv.append(optDiv);
        assignNamesForQuiz($('#questionBox'));
      }
    });

    $(".questionOption").live("blur",function(){
      if($(this).val()=="") {                         
        if($(this).parents(".options").find(".questionOption:last").attr('name') != $(this).attr('name')) {
          $(this).parent().remove();
        }
        if($(this).parents(".options").find(".questionOption:last").val()!="") {
          $(this).parents(".options").eq(0).append(optDdiv);
          assignNamesForQuiz($('#questionBox'));
        }
      }
    });

    $(".question").live("blur",function() {
      if($(this).val()=="") {
        $(this).parent(".addedQuestion").remove();
        if($(".question:last").val()!="") {
          $("#questionBox").append(queDiv);
          assignNamesForQuiz($('#questionBox'));
        }
      }
    });

    //For Add Options in Quiz

    var que_div='<div class="addedQuestion"><p>Question:</p><input type="text" class="question"><br><div class="options"><p>Options</p><div class="addedOption"><input type="checkBox" class="questionOptionCheckbox"><input type="text" class="questionOption"></div>';
    var opt_div='<div class="addedOption"><input type="checkBox" class="questionOptionCheckbox"><input type="text" class="questionOption"></div>';

    $(".question").live("keyup",function() {
      if($(".question:last").val()!="") {
        $("#questionBox").append(que_div);
        assignNamesForQuiz($('#questionBox'));
      }
    });

    $(".questionOption").live("keyup",function() {    
      var par_que_div=$(this).parents("div").eq(1);
      if(par_que_div.find(".questionOption:last").val()!="") {
        par_que_div.append(opt_div);
        assignNamesForQuiz($('#questionBox'));
      }
    });

    $(".questionOption").live("blur",function() {
        if($(this).val()=="") {                         
          if($(this).parents(".options").find(".questionOption:last").attr('name') != $(this).attr('name')) {
            $(this).parent().remove();
          }
        }
        if($(this).parents(".options").find(".questionOption:last").val()!="") {
          $(this).parents(".options").eq(0).append(opt_div);
          assignNamesForQuiz($('#questionBox'));
        }
    });

    $(".question").live("blur",function() {
      if($(this).val()=="") {
        $(this).parent(".addedQuestion").remove();
      }
      if($(".question:last").val()!="") {
        $("#questionBox").append(que_div);
        assignNamesForQuiz($('#questionBox'));
      }
    });

    var assignNamesForQuiz = function($container) {
      $container.find('.addedQuestion').each(function(i, questionContainer) {
        $(questionContainer).find('.question').attr('name', 'question[' + i + ']');
        assignNamesForOptions($(questionContainer), i);
      });             
    };

    var assignNamesForOptions = function($container, questionId) {
      $container.find('.questionOption').each(function(j, el) {
        $(el).attr('name', 'questionOption['+questionId+']['+j+']');
      });
      $container.find('.questionOptionCheckbox').each(function(j, el) {
        $(el).attr('name', 'questionOptionCheckbox['+questionId+']['+j+']');
      });
    };

    //----------------------------------------------------- //
    //  Video Player For Edit Lesson                        //
    //----------------------------------------------------- //

    $('video').mediaelementplayer({
      enablePluginDebug: false,
      defaultVideoWidth: 930,
      defaultVideoHeight: 525,
      features: ['playpause','progress','current','duration','tracks','volume','fullscreen'],
      alwaysShowControls: true,
      pluginPath: '/javascripts/mediaelement/',
      error: function(err) {
        console.log(err);
      }
    });
  });

