.container
	h1 Congratulations !!!
	hr
	h3 Dear #{userName},
	h4 You successfully completed the quiz and your result is 	
		- var per = Math.round((assessment.score * 100 / quiz.mark)*100)/100;
		code(style="padding:8px;") #{per}%  (Marks : #{assessment.score}/#{quiz.mark})
	hr