mixin sidebar-left(classes)
  .widget_sidebar.left(class = classes)
    .content-block
      block
    .expand-handle
    .resize-handle
    .collapse-handle
mixin sidebar-right(classes)
  .widget_sidebar.right(class = classes)
    .content-block
      block
    .collapse-handle
    .resize-handle
    .expand-handle