append layout.scripts
  script(type='text/javascript', src="/javascripts/views/widget/tabbar.js");
append layout.styles
  link(rel='stylesheet', href="/stylesheets/views/widget/tabbar.css");

mixin tabbar
  #tabBar.tabbar
  