//Course Homepage (Landing page)
include _header
.container-fluid.course-index.inner-index
	.row-fluid
		.span10
			- if(typeof(video) != 'undefined' && typeof(videoType) != 'undefined')
				a(href="#{video}") Video Link
			- else
				include _player
		.span2
			include _sidebar
	.row-fluid
		p
	.row-fluid
		.span10
			include _footer

script(type='text/javascript')
	function init() {
		var player = $("#jquery_jplayer_1");
		if( player ) {
			player.jPlayer({
				ready: function () {
					$(this).jPlayer("setMedia", {
						m4v: "http://www.jplayer.org/video/m4v/Big_Buck_Bunny_Trailer_480x270_h264aac.m4v",
						ogv: "http://www.jplayer.org/video/ogv/Big_Buck_Bunny_Trailer_480x270.ogv",
						poster: "http://www.jplayer.org/video/poster/Big_Buck_Bunny_Trailer_480x270.png"
					});
				},
				swfPath: "/javascripts/jplayer",
				supplied: "m4v, ogv",
					size: {
						width: "100%",
						height: "500px",
						cssClass: "jp-video-360p"
					}
					,
				ended: function() {
					window.open("/program", "_self");
				},
			});
		}	
	}
