//- Course Homepage (Landing page)
include _header
.container-fluid.course-index.inner-index
	.row-fluid
		.span10
			- if(typeof(video) != 'undefined' && typeof(videoType) != 'undefined' && videoType == 'youtube')
				iframe(width="800", height="480", src="http://www.youtube.com/embed/#{video}", frameborder="0", allowfullscreen="true")

			- else
				include _player
		.span2
			include _sidebar
	.row-fluid
		p
	.row-fluid
		.span10
			include _footer

