script(type="text/javascript")
  $(window).load(function() {
    $('.flexslider').flexslider({
      animation: "slide",
      directionNav: true,
      controlsContainer: ".flexslider-container"
    });
  });
//- Course Admin index?
- course = {id: 1};
.container
  -if(everyauth.loggedIn && isAdmin)
      p.actions.clearfix
        a(href='/course_editor/create').btn.btn-primary.pull-left Add Course
        a(href='/course_editor/import').btn.btn-inverse.pull-right Import a course

  ul.nav.nav-pills.courseMenu
    li.active
      a(href="/courses") Featured
    li
      a(href="/courses/all") Course Library
    li
      a(href="/user/profile") My Library

  .row-fluid
    div.flexslider
      ul.slides
        each courseObject,courseIndex in courses
          li
            center
              img.courseImage(src="#{courseObject.image}")
            div.detailsLink
              h1.courseTitle #{courseObject.title}
              p #{courseObject.desc}
              div.detailsLinkBtn
                a.btn.btn-primary.pull-right(href="/course/#{courseObject.id}") Details
  .row-fluid
    .span12
  .carouselWrapper
