form(method='POST', id='lessonForm')
  p
    label(for="title") Title:
    input.required(value='#{lesson.title}', id='title', name='title')
  p
    label(for="description") Description:
    textarea.required(name='description', id='description')
      #{lesson.description}

  ul.nav.nav-tabs
    li.active
      a(href='#video', data-toggle='tab') Video
    li
      a(href='#quiz', data-toggle='tab') Quiz
    li
      a(href='#excercise', data-toggle='tab') Hands-on Exercise

  .tab-content
    #video.tab-pane.active
      h3 Video
      p Some text
    #quiz.tab-pane
      h3 Quiz
      p Questions
    #exercise.tab-pane
      h3 Exercise
      p Code

  p
  p
    input.btn.btn-primary(type='submit', value='Submit')

script(type='text/javascript')
  $(function() {
    $('.tabs a:last').tab('show');
  });
