//- Chapter index (Lesson list)
include ../_breadcrumb
.container-fluid.chapter-index.inner-index
  .row-fluid
    .chapter-header
      .chapter-content
        h2 #{chapter.title}
        p #{chapter.desc}
        -if(everyauth.loggedIn && isAdmin)
          .btn-strip
  .row-fluid
    ul.lessons
      - if(typeof(chapter.lessons) != 'undefined')
        each lesson in chapter.lessons
          li.lesson
            a(href='/lesson/#{lesson.id}/')
              h3 
                #{lesson.title}
            - if(everyauth.loggedIn && isAdmin)
              - if(lesson.status != 'published')
                | (Draft)
            .progress(style='margin: 10px 0;')
              .bar(style="width: 0%;")
