.container-fluid
	ul.nav.nav-tabs
		li.active
			a(href='#tab1', data-toggle='tab') INSTRUCTOR COMMENTS
		li
			a(href='#tab2', data-toggle='tab') SUPPLEMENTARY MATERIAL
	.tab-content
		.tab-pan.fade.in.active#tab1
			.well
				p Introduction
				| Hi! I'm your Instructor, Steve. I'll be giving you tips and hints below the lecture videos and quizzes. Here's our first tip:
				| To navigate through the unit click look to the side-bar to the right of the video.
				| Also check out the official Course Forums if you have any questions!
		.tab-pan.fade#tab2
			.well
				p Course Forums
				p CS101 Unit 1 Notes
				p CS101 Unit 1 Glossary
				p CS101 Unit 1 Python Reference