.carousel#course-carousel.hero-unit.slide.span12
	ul.thumbnails.carousel-inner
		li.span4.item.active
			.thumbnail
				a(href='/course')
					img(src="http://placekitten.com/350/300")
				h3 CS99 - DEVOPS
				p Taught by Steve Messina
				a(href='/course')
					button.btn.btn-primary.btn-large GO TO YOUR COURSE
		- var courses = ['OPENSTACK', 'LOW LATENCY ALGO', 'SECURITIES OPERATIONS', 'BLACKHAT', 'LOLCODE K1TTAH', 'BRAINF*CK MASTERY']
		each course, i in courses
			li.span4.item
				.thumbnail
					a(href='/course')
						img(src="http://placekitten.com/g/350/300")
					h3 CS 10#{i} - #{course}
					p Taught by Steve Messina
					a(href='/course')
						button.btn.btn-large LEARN MORE
	// carousel-nav
	a.carousel-control.left(href='#course-carousel', data-slide='prev') &lsaquo;
	a.carousel-control.right(href='#course-carousel', data-slide='next') &rsaquo;