//- @@deprecated
.row-fluid
	.span3
		ul.breadcrumb
			li
				a(href='/Courses') Courses
				span.divider /
			li
				a(href='/course') #{Course}
				span.divider /
			li
				a.active(href='#') #{Unit}
	.span7
		ul.nav.nav-tabs(style='background-color:black;color:yellow;font-weight:bold;')
			li.active
				a(href='#overview') Overview
			li
				a(href='/ContentManager') Course Content
			li
				a(href='http://10xEngineer.me:80') Discussion
			li
				a(href='#announcements') Announcements
			li
				a(href='/progress') Progress