ul.thumbnails.hero-unit
	- each course in courses
		li.span4
			.thumbnail
				a(href='/courses/#{course._id}')
					img(src="http://placekitten.com/g/350/300")
				h3 #{course._id} - #{course.title}
				p Taught by Steve Messina
				a(href='/courses/#{course._id}')
					button.btn.btn-large GO TO COURSE
