.navbar
	.navbar-inner
		.container-fluid(style='width: auto;')
			a.brand(href='/about', style='font-size:2em;') 
				span(style='color:white;font-weight:bold;') 10
				span(style='color:orange;') x
				span(style='color:white;') Engineer
				span(style='color:orange;font-weight:bold;') .
				span(style='color:white;') me
				// img(src='/img/10xengineer.me.png', alt='10xEngineer.me')
			ul.nav
				li.active
					a(href='/')
						i.icon-home.icon-white 
						| Home
				li.dropdown
					a.dropdown-toggle(href='/coursesold', data-toggle='dropdown')
						i.icon-calendar.icon-white 
						| Courses
						b.caret
					ul.dropdown-menu
						li
							a(href='#') My Courses
						li.divider
						li
							a(href='#') Upcoming Courses
				li.dropdown
					a(href='http://10xEngineer.me:80')
						i.icon-map-marker.icon-white 
						| Forum
						
			form.navbar-search.pull-right(action='')
				input.search-query.span3(type='text', placeholder='Search Contents')

			ul.nav.pull-right
				-if(!everyauth.loggedIn)
					li
						a(href='/auth')
							i.icon-user.icon-white
							|  Sign In
				-if(everyauth.loggedIn)
					li
						a(href='/users')
							i.icon-user.icon-white 
							|  #{everyauth.user.name}
				-if(everyauth.loggedIn)
					li
						a(href='/admin')
							i.icon-user.icon-white 
							|  Admin
				-if(everyauth.loggedIn)
					li
						a(href='/logout')
							i.icon-user.icon-white 
							|  Sign Out
	- if(typeof(coursenav) != 'undefined' && coursenav == "Y")
		include _coursenav
