.container-fluid
	- if (contentfile) 
		.row-fluid
			.span6
				#content.alert.alert-success
					p uploaded: #{contentfile}
	.row-fluid
		.span6
			form(method='POST', enctype='multipart/form-data', name='course-uploader').form-inline.well
				input#course.input-large(name='course-file', type='file', placeholder='Course File')
				input.btn.btn-primary.btn-large(type='submit', style='margin-left: 1em;') Upload course

script(type='text/javascript')
	function init() {
		$('.dropdown-toggle').dropdown();
		if( $('.carousel') ) {
			$('.carousel').carousel({
				interval: 2000
			});
		}
		$(".collapse").collapse();

		$(".accordion-heading.click").click(function() {
			$(this).toggleClass('highlighted');
			alert('toggle: '+ this.href.text)
		});		
	}
