.container-fluid
	.row-fluid
		.span3
		.span6
			form(action="/file-upload", method='POST', enctype='multipart/form-data').form-inline.well
				input#course.input-large(type='file', placeholder='Course File')
				input.btn.btn-primary.btn-large(type='submit', style='margin-left: 1em;') Upload course
		.span3
	.row-fluid
		.span12
	.row-fluid
		.span3
		.span6
			#content.well
				- if (typeof contentfile != "undefined") 
					p #{contentfile}
		.span3
