.container-fluid
	- if (typeof contentfile != 'undefined' && contentfile) 
				.alert.alert-success
					| uploaded: #{contentfile}
	- if (typeof success != 'undefined' && success)
				.alert.alert-success
					| Course Import Successed.
	- if (typeof error != 'undefined' && error)
				.alert.alert-error
					| #{error}
		
	header.page-header
		h1 #{title}
	.row-fluid
		.span6
			form(method='POST', enctype='multipart/form-data', name='course-uploader').form-inline.well
				input#course.input-large(name='course-file', type='file', placeholder='Course File')
				input.btn.btn-primary.btn-large(type='submit', style='margin-left: 1em;') Upload course

//- @@TODO: should clean
script(type='text/javascript')
	function init() {
		$('.dropdown-toggle').dropdown();
		if( $('.carousel') ) {
			$('.carousel').carousel({
				interval: 2000
			});
		}
		$(".collapse").collapse();

		$(".accordion-heading.click").click(function() {
			$(this).toggleClass('highlighted');
			alert('toggle: '+ this.href.text)
		});		
	}
