.container-fluid
	.row-fluid
		.span10
			include _player
		.span2(style='background-color:black; color:white;')
			include _sidebar
	.row-fluid
		p
	.row-fluid
		.span10
			include _additionalfooter

