.container-fluid
	link(rel="stylesheet", href="/stylesheets/ribbon.css")
	.row-fluid
		.span10
			form(onsubmit='return captureSource(this)', action="/submitCode", method='POST')#editform.well
				a#options
					p.css-vertical-text Options
					#modal(style='display:none')
						include _ide_options
						a(href='javascript:$.pageslide.close();') Close
				.controls
						input(type='hidden', name='sourcecode', id='sourcecode', value='#{code}')
						#editor(style='position:relative;width:100%;height:400px;resize:both;overflow:hidden;')
				.form-actions
					input.button.btn.btn-primary(type='submit') RUN
					a.button.btn SUBMIT
					a.button.btn CLEAR
		.span2
			include _sidebar
	.row-fluid
		.span10
			p
	.row-fluid
		.span10.well
			p#compile_results #{compile_results} || Run to see results
			p(style='color:red')#compile_errors #{compile_errors} || Run to see any potential errors
	.row-fluid
		.span10
	.row-fluid
		.span10
			include _additionalfooter
	.row-fluid
		p.pull-right 10xEngineer.me uses 
			a(href="http://ideone.com") ideone.com 
			| &copy; by 
			a(href="http://sphere-research.com") Sphere Research Labs
	.row-fluid
	script(type='text/javascript', src='/javascripts/ace/ace.js')
	script(type='text/javascript')
		function init() {
			$("a").pageslide({direction: "left", modal: "true"});

			if( $('editor') ) {
				var editor = ace.edit("editor"); 
				//load default theme and language
				loadTheme("textmate");	  
				loadMode("javascript");

				//binding the setting panel events
				$("#mode").change(function(e){
					loadMode(e.target.value);
				})
				$("#theme").change(function(e){
					loadTheme(e.target.value);
				})
				$("#fontsize").change(function(e){
					document.getElementById('editor').style.fontSize=e.target.value;
				})
				$("#highlight_active").change(function(e){
					editor.setHighlightActiveLine(e.target.checked);
				})
				$("#show_hidden").change(function(e){
					editor.setShowInvisibles(e.target.checked);
				})
				$("#soft_wrap").change(function(e){
					var session = editor.getSession();
					var renderer = editor.renderer;
					switch (e.target.value) {
						case "off":
							session.setUseWrapMode(false);
							renderer.setPrintMarginColumn(80);
							break;
						case "40":
							session.setUseWrapMode(true);
							session.setWrapLimitRange(40, 40);
							renderer.setPrintMarginColumn(40);
							break;
						case "80":
							session.setUseWrapMode(true);
							session.setWrapLimitRange(80, 80);
							renderer.setPrintMarginColumn(80);
							break;
						case "free":
							session.setUseWrapMode(true);
							session.setWrapLimitRange(null, null);
							renderer.setPrintMarginColumn(80);
							break;
					}
				})
				$("#show_gutter").change(function(e){
					editor.renderer.setShowGutter(e.target.checked); 
				}) 
				$("#show_print_margin").change(function(e){
					editor.renderer.setShowPrintMargin(e.target.checked); 
				})
				$("#soft_tab").change(function(e){
					editor.getSession().setUseSoftTabs(e.target.checked);  
				})
				$("#highlight_selected_word").change(function(e){
					editor.setHighlightSelectedWord(e.target.checked);
				});
			}
		}

		// get the source from the ACE editor and place it in a hidden field in the form to be submitted to the compiler
		function captureSource(form) {
			with( form ) {
				console.log('form = ', form);
				var editor = ace.edit("editor");
				var sc = editor.getSession().getValue();
				console.log('onsubmit: ', sc);
				form.sourcecode.value = sc;
				console.log('editform.sourcecode = ', form.sourcecode.value);
			}
		}