!!! 5
html(lang="en")
	head
		meta(charset="utf-8")
		title #{title}
		link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
		link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap-responsive.min.css')
		link(type='text/css', href='/stylesheets/jplayer.cyan.flag.css', rel='stylesheet')
		link(type='text/css', href='/stylesheets/jquery.pageslide.css', rel='stylesheet')
		link(type='text/css', href='/stylesheets/core.css', rel='stylesheet')
		script(type='text/javascript', src='/javascripts/jquery-1.7.1.min.js')
		script(type='text/javascript', src='/javascripts/bootstrap.min.js')
		script(type='text/javascript', src='/javascripts/ace_2/ace.js')
		script(type='text/javascript', src='/javascripts/jplayer/jquery.jplayer.min.js')
		script(src='/socket.io/socket.io.js')
		- if (typeof headContent === "string")
			!= partial(headContent);
			| <!--[if lt IE 9]
		script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
			| <![endif]-->
		script
			var socket = io.connect();
			socket.on('newPost', function (data) {
				postLink = ' <a href="/post/' + data._id + '">' + data.title + '</a>';
				$('#recentPosts').prepend($('<p>').append(postLink));
			});
		body
			.container-fluid
				section#navbar
					include _header
				section#content!= body
				section#sidebar
				footer
					p &copy;2012 10xEngineer.me. All rights reserved.
			#pageslide(style='display:none')
			script(type='text/javascript', src='/javascripts/jquery.fittext.js')
			script(type='text/javascript', src='/javascripts/jquery.pageslide.js') 
			script(src='/javascripts/core.init.js')
		script(type='text/javascript')
			$(document).ready(function() {
				if(typeof init == 'function') { 
					init(); 
				}
			});