!!! 5
html(lang="en")
	head
		meta(charset="utf-8")
		-if(typeof(title) != 'undefined') 
			title #{title}
		link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
		link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap-responsive.min.css')
		link(type='text/css', href='/stylesheets/jquery.pageslide.css', rel='stylesheet')
		link(rel='stylesheet', href='/stylesheets/tabs.css')
		link(rel='stylesheet', href='/stylesheets/jquery.Jcrop.min.css')
		link(type='text/css', href='/stylesheets/core.css', rel='stylesheet')
		link(type='text/css', href='/stylesheets/corner-ribbon.css', rel='stylesheet')
		
		script(type='text/javascript', src='/javascripts/jquery-1.7.1.min.js')
		script(type='text/javascript', src='/javascripts/bootstrap.min.js')
		script(type='text/javascript', src='/javascripts/ace_2/ace.js')
		script(type='text/javascript', src='/javascripts/jplayer/jquery.jplayer.min.js')
		script(type='text/javascript', src='/javascripts/jquery.easing-1.3.pack.js')
		script(type='text/javascript', src='/javascripts/jquery.Jcrop.min.js')
		script(src="/javascripts/yepnope-1.5.4.min.js")
		script(src='http://www.filepicker.io/static/js/filepicker.js')
		body
			.container
				section#navbar
					include _header
			.container
				-if(typeof(error) != 'undefined') 
					div.alert.alert-block
						a.close(data-dismiss='alert',href='#') x
						h4.alert-heading Warning
						#{error}
				-else if(typeof(message) != 'undefined') 
					div.alert.alert-info
						a.close(data-dismiss='alert',href='#') x
						h4.alert-heading Information 
						#{message}
				section#content!= body
				section#sidebar
				footer
					p 
					strong &copy;2012 10xEngineer.me. 
					| All rights reserved.

			#pageslide(style='display:none')
//- note: subject to move to individe page
			script(type='text/javascript', src='/javascripts/jquery.fittext.js')
			script(type='text/javascript', src='/javascripts/jquery.pageslide.js') 
			script(type='text/javascript', src='/javascripts/ace_2/ace.js')
			script(type='text/javascript', src='/javascripts/jplayer/jquery.jplayer.min.js')
			script(src='/javascripts/core.init.js')

		script(type='text/javascript')
			// call the partial-specific javascript helper: init() function when the partials are completed loading
			$(document).ready(function() {
				if(typeof init == 'function') { 
					init(); 
				}
			});