include _header
    
!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    -if(typeof(title) != 'undefined') 
      title #{title}

    block layout.styles
      link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
      link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap-responsive.min.css')
      link(type='text/css', href='/stylesheets/jquery.pageslide.css', rel='stylesheet')
      link(rel='stylesheet', href='/stylesheets/tabs.css')
      link(rel='stylesheet', href='/stylesheets/jquery.Jcrop.min.css')
      link(rel='stylesheet', href='/javascripts/mediaelement/mediaelementplayer.min.css')
      link(type='text/css', href='/stylesheets/corner-ribbon.css', rel='stylesheet')
      link(type='text/css', href='/stylesheets/select2.css', rel='stylesheet')
      link(type='text/css', href='/stylesheets/core.css', rel='stylesheet')
      // included
      link(rel='stylesheet', href="/stylesheets/header.css");
      link(rel="stylesheet", href="/stylesheets/flexslider.css", type="text/css", media="screen")

    block layout.scripts
      script(type='text/javascript', data-main="/javascripts/main", src="/javascripts/require.js")
      script(src='http://www.filepicker.io/static/js/filepicker.js')
      
  body
    .main-content-wrapper
      section#header
        mixin header
      section#content
        .container.alertContainer
          -if(typeof(error) != 'undefined')
            div.alert.alert-block
              a.close(data-dismiss='alert',href='#') 
                i.icon-remove
              h4.alert-heading Warning
              | #{error}
          -else if(typeof(message) != 'undefined')
            div.alert.alert-info
              a.close(data-dismiss='alert',href='#')
                i.icon-remove
              h4.alert-heading Information 
              | #{message}      
        block layout.body
    .footer-wrapper
      section#footer
        .container
          .span6
            p Copyright &copy; 2012 - 10xEngineer.me
          .span6.socialmedia
            a(href="mailto:10xEngineer@gmail.com")
              img(src="/img/mail.png", width="32", height="32")
            img(src="/img/g+.png", width="32", height="32")
            a(href="http://www.linkedin.com/search?search=&company=10xEngineer%2Eme")
              img(src="/img/linkedin.png", width="32", height="32")
            a(href="https://www.facebook.com/pages/10xEngineerme/157148537717942")
              img(src="/img/fb.png", width="32", height="32")
            a(href="https://github.com/10xEngineer")
              img(src="/img/github.png", width="32", height="32")
            a(href="https://twitter.com/10xEngineerMe")
              img(src="/img/twitter.png", width="32", height="32")

    #pageslide(style='display:none')
