!!! 5
html(lang="en")
	head
		meta(charset="utf-8")
		-if(typeof(title) != 'undefined') 
			title #{title}
		link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
		link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap-responsive.min.css')
		link(type='text/css', href='/stylesheets/jquery.pageslide.css', rel='stylesheet')
		link(type='text/css', href='/stylesheets/core.css', rel='stylesheet')
		script(src="/javascripts/yepnope-1.5.4.min.js")
		script(src='/javascripts/jquery-1.7.1.min.js')
		script(src='/javascripts/bootstrap.min.js')
		body
			.container-fluid
				section#navbar
					include _header
			.container
					section#content!= body
					section#sidebar
					footer
						p &copy;2012 10xEngineer.me. All rights reserved.

			#pageslide(style='display:none')
//- note: subject to move to individe page
			script(type='text/javascript', src='/javascripts/jquery.fittext.js')
			script(type='text/javascript', src='/javascripts/jquery.pageslide.js') 
			script(type='text/javascript', src='/javascripts/ace_2/ace.js')
			script(type='text/javascript', src='/javascripts/jplayer/jquery.jplayer.min.js')
			script(src='/javascripts/core.init.js')

		script(type='text/javascript')
			// call the partial-specific javascript helper: init() function when the partials are completed loading
			$(document).ready(function() {
				if(typeof init == 'function') { 
					init(); 
				}
			});