.container-fluid
	header.page-header.powerful
		h1 Course List
	.row-fluid
		include _course_carousel
		//include _course_grid
	.row-fluid
		a.button(href='#')
			i.icon-th-large 
			span Grid
		span | 
		a.button(href='#')
			i.icon-retweet
			span Carousel