.container-fluid
	header
		h1 COURSE LIST
	.row-fluid
		include _course_carousel
		//include _course_grid
	.row-fluid
		.span12
	.row-fluid
		a.button(href='#')
			i.icon-th-large Grid
		a.button(href='#')
			i.icon-retweet Carousel