.row-fluid
	.span2
	.span6
		- var sections = ['FIRST QUIZ', 'WHAT IS A ...', 'FIRST PROGRAMMING QUIZ', 'WOULD YOU RATHER', 'EAT QUIZ', 'PYTHON EXPRESSIONS', 'SPEED OF LIGHT' ]
		each section, i in sections
			p.bold
				a(href='#') #{section}
	.span2
