style
	#dropbox {
		border-radius:3px;
		position: relative;
		margin:80px auto 90px;
		min-height: 290px;
		overflow: hidden;
		padding-bottom: 40px;
		box-shadow:0 0 4px rgba(0,0,0,0.3) inset,0 -3px 2px rgba(0,0,0,0.1);
		background-color: #212123;
		color:#fff;
	}
	#dropbox .message {
		text-align: center;
		padding-top:160px;
		display: block;
	}

	#dropbox .message i {
		color:#ccc;
		font-size:0.9em;
	}

	#dropbox:before {
		border-radius:3px 3px 0 0;
	}



	#dropbox .preview {
		width:245px;
		height: 215px;
		float:left;
		margin: 55px 0 0 60px;
		position: relative;
		text-align: center;
	}

	#dropbox .preview img {
		max-width: 240px;
		max-height:180px;
		border:3px solid #fff;
		display: block;

		box-shadow:0 0 2px #000;
		-webkit-box-shadow:0 0 2px #000;
		-moz-box-shadow:0 0 2px #000;
	}

	#dropbox .imageHolder {
		display: inline-block;
		position:relative;
	}

	#dropbox .uploaded {
		position: absolute;
		top:0;
		left:0;
		height:130px;
		width:100%;
		background: rgba(255,255,255,0.5);
		display: none;
		color: #448944;
		padding-top:50px;
	}

	#dropbox .preview.done {
	}
	#dropbox .preview.done .uploaded {
		-webkit-box-shadow:0 0 5px #448944;
		-moz-box-shadow:0 0 5px #448944;
		box-shadow:0 0 5px #448944;
		display:block;
	}
	#dropbox .progressHolder {
		position: absolute;
		background-color:#252f38;
		height:12px;
		width:100%;
		left:0;
		bottom: 0;

		box-shadow:0 0 2px #000;
		-webkit-box-shadow:0 0 2px #000;
		-moz-box-shadow:0 0 2px #000;
	}

	#iPicture {
		margin:0 auto;
		width:auto;
		height:500px;
		overflow:auto; /* allow scrollbar */
		position:relative;
	}
	#iPicture {
		margin:0 auto;
		height:100%;
	}
	#iPicture-inner { }
	.picture-frame input { padding:0; }
	.quiz-pane { position: relative; }
	.quiz-bg { overflow: hidden; }
	.quiz-bg, .quiz-wrapper { position: absolute; top:0; left:0 }
	.quiz { width: auto; height: 500px; }
	.buttonSave { 
		-webkit-box-sizing: border-box; 
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	a.nextstep { display: none; }

- var auto_select =	 (typeof choice != 'undefined') ? true: false;
- var has_match = (typeof correct != 'undefined' && auto_select) ? true:false;
.container-fluid
	header.page-header
		h1 Quiz　Editor

	.row-fluid
		.span10
			-if (message)
				- if (has_match && correct)
					.alert.alert-success
						| #{message}
				- else
					.alert.alert-error
						| #{message}

	.row-fluid
		ul.nav.nav-pills
			li.active
				a.upload(href="#upload",data-toggle="pill") Upload
			li
				a.edit(href="#edit",data-toggle="pill") Edit

	.row-fluid
		.tab-content
			#upload.tab-pane.active
				#dropbox
					span.message 
						| Drop images here to upload. 
						br
						i (they will only be visible to you)
				a.nextstep.btn(href="#") Next Step: Edit

			#edit.tab-pane
				- var quiz = {	question: { src: "", width: 898, height: 500 }, answers:[{ val: "A", x: 92, y:140 }, { val:"B", x: 92, y:166}, { val:"C", x: 92, y:190}, { val:"D", x: 92, y:215}]	}
				#show
					#iPicture.picture-frame
	

	//- should have a footer & sidebar
	script
		$(function(){ $('.nextstep').on("click", function(e){ $('a.edit').tab('show'); return false; }); })
		yepnope({ load: '/stylesheets/jquery.ipicture.css'});
	script(src="/javascripts/jquery-ui-1.8.16.custom.min.js")
	script(src="/javascripts/jquery.filedrop.js")
	script(src="/javascripts/jquery.ipicture.js")
	script(src="/javascripts/quiz.edit.script.js")
