.widget_tabbar
  overflow-x scroll
  height 35px
  padding-left 10px
  border-top 1px solid #444
  background rgb(207, 207, 207)
  background linear-gradient(top, rgba(50, 50, 50, 1) 0%, rgba(30, 30, 30, 1) 100%)
  filter unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr = '#cfcfcf', endColorstr = '#b0b0b0', GradientType = 0)")
  .tab
    display inline-block
    height 60px
    width 225px
    margin-top 10px
    margin-left -25px
    cursor default
    position relative
    float left
    border-top-right-radius 20px 60px
    border-top-left-radius 20px 60px
    border 1px solid #9c9c9c
    background rgb(255, 255, 255)
    background linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(220, 221, 220, 1) 4%, rgba(207, 208, 207, 1) 39%, rgba(156, 156, 156, 1) 40%)
    filter: unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#9c9c9c', GradientType = 0)")
    box-shadow inset 0 0 2px #fff
    user-select none
    .left-mask, .right-mask
      width 10px
      height 3px
      overflow hidden
      position absolute
      top 20px
      span
        display block
        width 9px
        height 9px
        border-width 5px
        border-style solid
        border-color rgba(207, 208, 207, 1)
        border-radius 10px
    .left-mask
      left -1px
      span
        margin -10px -9px
        box-shadow inset -1px 0 1px #9c9c9c
    .right-mask
      right -1px
      span
        margin -10px 0
        box-shadow inset 1px 0 1px #9c9c9c
    a.hit-area
      display block
      float left
      line-height 25px
      padding-left 40px
      font-family sans-serif
      font-size 13px
      background-image url(/img/default-tab-icon.png)
      background-repeat no-repeat
      background-position 18px center
      color #444
      text-decoration none
    .close_button
      display block
      float right
      background url('/img/close-tab-button.png') center center no-repeat
      width 7px
      height 7px
      text-indent -9999px
      opacity 0.5
      margin-top 11px
      margin-right 22px
    .close_button:hover
      opacity 1
    .loader
      background-image url('/img/ajax-loader.gif')
      background-size contain
      height 30px
      width 30px
      position absolute
      left 50%
      margin-left -15px
      top -2px
      display none
  .tab:first-child
    margin-left 0px
  .tab.active
    z-index 1
    background rgb(255, 255, 255)
    background linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(231, 231, 231, 1) 30%)
    filter unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#e7e7e7', GradientType = 0)")
    .left-mask,.right-mask
      height 4px
      span
        border-color rgba(231, 231, 231, 1)
  .tab.dirty
    .close_button
      background-color #CCC
  .tab.saving
    color #CCC
    .loader
      display block